* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #fff;
  color: #000;
  font-size: 15px;
  line-height: 1.5;
}

div.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

a {
  color: #767676;
  text-decoration: none;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px auto;
}

nav .logo {
  width: 110px;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  padding: 0 10px;
}

nav ul li a:hover {
  border-bottom: 1px solid #262626;
  padding-bottom: 2px;
}

nav ul.main-menu {
  flex: 1;
  margin-left: 30px;
}

.menu-btn {
  display: none;
}

.btn {
  cursor: pointer;
  display: inline-block;
  border: 0;
  font-weight: bold;
  padding: 10px 20px;
  background: #262626;
  color: #fff;
  font-size: 15px;
  transition: opacity 0.5s ease-in-out;
}

.btn:hover {
  opacity: 0.9;
}

header {
  width: 100%;
  height: 400px;
  background: url("https://i.ibb.co/zGSDGCL/slide1.png") no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  border-radius: 10px;
  margin-bottom: 20px;
}

header p {
  margin: 30px 0;
}

header .btn {
  margin-bottom: 30px;
}

section.home-cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  margin-bottom: 20px;
}

.home-cards img {
  width: 100%;
  border-radius: 10px;
}

.home-cards p {
  padding: 10px;
}

.home-cards .btn {
  margin: 10px auto;
}

section.home-cards a:hover i {
  margin-left: 10px;
}

section.xbox {
  width: 100%;
  height: 350px;
  background: url("https://i.ibb.co/tBJGPD9/xbox.png") no-repeat center center/cover;
  margin-bottom: 30px;
}

section .content {
  width: 50%;
  padding: 70px;
}

section .content p {
  margin: 20px auto;
}

section.carbon {
  width: 100%;
  background: url("https://i.ibb.co/72cgtsz/carbon.jpg") no-repeat center center/cover;
  margin-bottom: 20px;
}

section.dark {
  color: whitesmoke;
}

.dark .btn {
  background: white;
  color: #000;
}

section.follow {
  padding: 20px;
  display: flex;
}

section.follow a {
  margin-left: 20px;
}

section.links {
  background: #f7f4f4;
}

section .links-inner {
  width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

section .links-inner ul {
  margin-top: 30px;
  list-style: none;
}

section .links-inner ul li h3 {
  opacity: 0.7;
  margin-bottom: 15px;
}

section .links-inner ul li {
  line-height: 2.5em;
  font-size: 14px;
}

footer {
  background: #f7f4f4;
}

footer .footer-inner {
  width: 1100px;
  margin: auto;
  padding: 50px 0 50px 0;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}

footer .footer-inner div {
  display: flex;
  align-items: center;
}

footer .footer-inner div i {
  opacity: 0.7;
  margin-right: 10px;
}

footer .footer-inner ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap !important;
}

footer .footer-inner ul li {
  margin-right: 30px;
}

@media (max-width: 750px) {
  .menu-btn {
    display: block;
    position: absolute;
    top: 30px;
    right: 20px;
    cursor: pointer;
  }

  .menu-btn:hover i {
    opacity: 0.7;
  }

  .right-menu {
    margin-right: 40px;
  }

  nav .main-menu {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background: #f2f2f2;
    opacity: 0.9;
    border-right: 1px solid #ccc;
    transform: translateX(-3000px);
    padding: 50px 30px;
    transition: transform 0.2s ease;
  }

  nav ul.main-menu.show-menu {
    transform: translateX(-30px) !important;
  }

  nav .main-menu.show-menu li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }

  nav .main-menu.show-menu li:last-child {
    border-bottom: none;
  }

  body {
    overflow-x: hidden;
  }

  section.home-cards {
    grid-template-columns: repeat(2, 1fr);
  }

  section.xbox .content h2 {
    margin: 5px 0 40px 5px;
  }

  section.xbox .content p {
    display: none;
  }

  section.carbon .content {
    width: 85%;
  }

  .links .links-inner {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    padding-left: 20px;
  }

  .footer-inner div {
    padding-left: 20px;
  }
}

@media (max-width: 500px) {
  section.home-cards {
    grid-template-columns: repeat(1, 1fr);
  }

  .links .links-inner {
    grid-template-columns: repeat(1, 1fr);
  }
}